In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('input.txt', sep=" ", names=['min-max','char','pass'])
df[['min','max']] = df['min-max'].str.split('-',expand=True)
df['char'] = df['char'].str.replace(':',"")
df = df[['min','max','char','pass']]
df

    min max char              pass
0     8   9    x         xxxxxxxrk
1     5   8    f          fxffmfff
2     2   5    c           ccspwpc
3     1   4    g              gggg
4     9  10    l        lllllllllk
..   ..  ..  ...               ...
995   1   3    p             pfppp
996   2   4    t              tttw
997   5  10    w  zzcwwwwwwkwwwqws
998   1   7    c       ccrmhdchwbr
999   7  11    g     xzgnggggrggrg

[1000 rows x 4 columns]

### Part 1

In [3]:
counter = 0
for index, row in df.iterrows():
    if row[3].count(row[2]) >= int(row[0]) and row[3].count(row[2]) <= int(row[1]):
        counter += 1

In [4]:
print(counter)

645

### Part 2

In [5]:
counter2 = 0
for index, row in df.iterrows():
    if ((row[3][int(row[0])-1]) == row[2] or (row[3][int(row[1])-1]) == row[2]) and (row[3][int(row[0])-1]) != (row[3][int(row[1])-1]):
        counter2 += 1

In [6]:
print(counter2)

737

In [ ]:
for index, row in df.iterrows():
    string = re.finditer(row[2], a_string)